@model Agenda.Model.agdEvento

@{
    ViewBag.Title = "Home Page";
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    <link href="~/Content/fonte-google.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/simple-line-icons.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-datetimepicker.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-switch.min.css" rel="stylesheet" />
    <link href="~/Content/fullcalendar.min.css" rel="stylesheet" />
    <link href="~/Content/components.min.css" rel="stylesheet" />
    <link href="~/Content/plugins.min.css" rel="stylesheet" />
    <link href="~/Content/layout.min.css" rel="stylesheet" />
    <link href="~/Content/blue.min.css" rel="stylesheet" />

</head>

<body>
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light portlet-fit  calendar">
                <div class="portlet-title">
                    <div class="caption">
                        <i class=" icon-layers font-green"></i>
                        <span class="caption-subject font-green sbold uppercase">Agenda</span>
                    </div>
                    <button onclick="incluirEvento()" style="margin-left: -70px;" class="btn btn-icon-only green">
                        <i class="fa fa-plus"></i>
                    </button>
                </div>
                <div class="portlet-body">
                    <div class="row">
                        <div class="col-md-9 col-sm-12">
                            <div id="calendar" class="has-toolbar">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="copyright"> 2017 © Danilo Maglio Sampaio. </div>

    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker.js"></script>
    <script src="~/Scripts/js.cookie.min.js"></script>
    <script src="~/Scripts/jquery.slimscroll.min.js"></script>
    <script src="~/Scripts/jquery.blockui.min.js"></script>
    <script src="~/Scripts/bootstrap-switch.min.js"></script>
    <script src="~/Scripts/fullcalendar.min.js"></script>
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script src="~/Scripts/app.min.js"></script>
    <script src="~/Scripts/calendar.js"></script>
    <script src="~/Scripts/layout.min.js"></script>
    <script src="~/Scripts/demo.min.js"></script>




</body>
</html>


<div id="modalEvento" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Cadastrar Evento</h4>
            </div>

            <form action="@Url.Action("CreateEvento")" method="post" class="form-horizontal" enctype="multipart/form-data">
                @Html.AntiForgeryToken()

                <div class="modal-body">
                    <div class="form-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="form-group">
                            @Html.LabelFor(model => model.aevNome, new { @class = "col-md-3 control-label" })
                            <div class="col-md-7">
                                @Html.EditorFor(model => model.aevNome, new { htmlAttributes = new { @class = "form-control input-circle-left", placeholder = "Nome do Evento" } })
                                @Html.ValidationMessageFor(model => model.aevNome, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.aevFoto, new { @class = "col-md-3 control-label" })
                            <div class="col-md-7">
                                <div class="input-group">
                                    <span class="input-group-addon input-circle-left">
                                        <i class="fa fa-camera"></i>
                                    </span>
                                    <input type="file" class="form-control" placeholder="Left icon" name="foto">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.aevDataHora, new { @class = "col-md-3 control-label" })
                            <div class="col-md-7">
                                <div class="input-group" id="dataHoraEvento">
                                    @Html.EditorFor(model => model.aevDataHora, new { htmlAttributes = new { @class = "form-control input-circle-left", placeholder = "Nome do Evento" } })
                                    @Html.ValidationMessageFor(model => model.aevDataHora, "", new { @class = "text-danger" })
                                    <span class="input-group-addon input-circle-right">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.aevLocal, new { @class = "col-md-3 control-label" })
                            <div class="col-md-7">
                                    @Html.EditorFor(model => model.aevLocal, new { htmlAttributes = new { @class = "form-control input-circle", placeholder = "Nome do Evento" } })
                                    @Html.ValidationMessageFor(model => model.aevLocal, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.aevDescricao, new { @class = "col-md-3 control-label" })
                            <div class="col-md-7">
                                @Html.TextAreaFor(model => model.aevDescricao, new { @class = "form-control", placeholder = "Nome do Evento" })
                                @Html.ValidationMessageFor(model => model.aevDescricao, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">Organizador</label>
                            <div class="col-md-7">
                                <select class="form-control" name="agdContatoID"> 
                                    @foreach (var contato in ViewBag.Contato)
                                    {
                                        <option value="@contato.agdContatoID">@contato.actNome</option>
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">Categoria</label>
                            <div class="col-md-7">
                                <select class="form-control" name="agdCategoriaEventoID">
                                    @foreach (var categoria in ViewBag.Categoria)
                                    {
                                        <option value="@categoria.agdCategoriaEventoID">@categoria.aceNome</option>
                                    }
                                </select>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-circle green">Salvar</button>
                        <button type="button" class="btn btn-circle grey-salsa btn-outline" data-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>

@{ 
    var listaEventos = new List<Agenda.Model.agdEvento>();

    var listaEventosTotal = ViewBag.Eventos;

    for (var i = 0; i < listaEventosTotal.Count; i++)
    {
        if (ViewBag.Eventos[i].aevDataHora.Month == DateTime.Now.Month)
        {
            listaEventos.Add(ViewBag.Eventos[i]);
        }
    }
}

<script type="text/javascript">
    $(function () {
        $('#dataHoraEvento').datetimepicker({
            format: 'DD/MM/YYYY HH:mm'
        });
    });

    function incluirEvento() {
        $('#modalEvento').modal();
    }

    $(document).ready(function () {
        [{
            title: "All Day Event",
            start: new Date(n, a, 1),
            backgroundColor: App.getBrandColor("yellow")
        }, {
            title: "Long Event",
            start: new Date(n, a, t - 5),
            end: new Date(n, a, t - 2),
            backgroundColor: App.getBrandColor("green")
        }, {
            title: "Repeating Event",
            start: new Date(n, a, t - 3, 16, 0),
            allDay: !1,
            backgroundColor: App.getBrandColor("red")
        }, {
            title: "Repeating Event",
            start: new Date(n, a, t + 4, 16, 0),
            allDay: !1,
            backgroundColor: App.getBrandColor("green")
        }, {
            title: "Meeting",
            start: new Date(n, a, t, 10, 30),
            allDay: !1
        }, {
            title: "Lunch",
            start: new Date(n, a, t, 12, 0),
            end: new Date(n, a, t, 14, 0),
            backgroundColor: App.getBrandColor("grey"),
            allDay: !1
        }, {
            title: "Birthday Party",
            start: new Date(n, a, t + 1, 19, 0),
            end: new Date(n, a, t + 1, 22, 30),
            backgroundColor: App.getBrandColor("purple"),
            allDay: !1
        }, {
            title: "Click for Google",
            start: new Date(n, a, 28),
            end: new Date(n, a, 29),
            backgroundColor: App.getBrandColor("yellow"),
            url: "http://google.com/"
        }]


        for (var i = 0; i < listaEventos.lenght; i++) {

        }


        AppCalendar.init();
    });
</script>
